:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --color-primary: rgb(188, 46, 201);
  --color-primary-light: rgba(188, 46, 201, 0.3);
  --color-secondary: rgb(255, 88, 88); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.customers {
  margin-bottom: 3rem; }
  .customers .content {
    background-color: var(--color-primary);
    margin-top: 3rem;
    position: relative; }
    .customers .content::after {
      position: absolute;
      content: "";
      -webkit-mask-image: url("../img/customers1.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 100% 190%;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      background-color: #99b3ff; }
      @media only screen and (max-width: 41.75em) {
        .customers .content::after {
          display: none; } }
    .customers .content::before {
      position: absolute;
      content: "";
      -webkit-mask-image: url("../img/bg-path1.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: -650% 40%;
      -webkit-mask-size: 90% 200%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #99b3ff; }
  .customers .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem; }
    @media only screen and (max-width: 35.5em) {
      .customers .services {
        padding: 6rem 3rem;
        flex-direction: column; } }
    .customers .services__recivers {
      margin: 0 3rem; }
      @media only screen and (max-width: 35.5em) {
        .customers .services__recivers {
          margin: 0;
          margin-bottom: 5rem; } }
      .customers .services__recivers-title {
        text-align: center;
        color: #fff;
        font-size: 2rem;
        padding-bottom: 3rem; }
      .customers .services__recivers-images {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22rem;
        height: 10rem; }
        .customers .services__recivers-images img {
          background-color: rgba(255, 255, 255, 0.3);
          width: 100%;
          height: 100%;
          border-radius: 0.8rem; }
        .customers .services__recivers-images .iut {
          padding: 1rem;
          margin-right: 2rem; }
        .customers .services__recivers-images .mizan {
          padding-right: 0.4rem; }
    .customers .services__nums {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse; }
      .customers .services__nums .nums {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--color-secondary);
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        margin: 0 1.5rem;
        text-align: center; }
        @media only screen and (max-width: 41.75em) {
          .customers .services__nums .nums {
            width: 11rem;
            height: 11rem;
            margin: 0 0.5rem; } }
        .customers .services__nums .nums span {
          display: block;
          font-size: 1.7rem;
          color: #fff;
          text-align: center; }
          .customers .services__nums .nums span:first-child {
            font-size: 2rem;
            font-weight: 600; }

.facilities {
  margin-bottom: 3rem; }
  .facilities .Needless {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0;
    color: #333; }
  .facilities .items {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 41.75em) {
      .facilities .items {
        flex-wrap: wrap; } }
    .facilities .items .item {
      flex-basis: 25%;
      margin: 0 6rem;
      text-align: center;
      padding: 2rem 4rem; }
      @media only screen and (max-width: 41.75em) {
        .facilities .items .item {
          padding: 2rem 0;
          margin: 0 4rem; } }
      .facilities .items .item:hover {
        box-shadow: var(--shadow-light); }
      .facilities .items .item__img img {
        width: 100%; }
      .facilities .items .item__text {
        font-size: 1.4rem;
        margin-top: 3rem;
        color: #333; }
  .facilities .btns {
    display: flex;
    justify-content: center;
    align-items: center; }
    .facilities .btns .btn-catalog,
    .facilities .btns .btn-more {
      font-size: 1.3rem;
      width: 12rem;
      height: 3.3rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .facilities .btns .btn-catalog {
      border: 1px solid var(--color-secondary);
      color: var(--color-secondary);
      margin-right: 1rem;
      font-weight: 600; }
    .facilities .btns .btn-more {
      background-color: var(--color-secondary);
      color: #fff;
      margin-left: 1rem; }

@media only screen and (max-width: 75em) {
  .footer {
    width: 95%;
    margin: 0 auto; } }

.footer .email-box {
  text-align: center;
  z-index: 9; }
  .footer .email-box form {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow-dark); }
    .footer .email-box form .email {
      position: relative; }
    .footer .email-box form label {
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .footer .email-box form .inputEmail {
      outline: none;
      border: 1px solid var(--color-secondary);
      border-radius: 0.5rem;
      padding: 0.9rem;
      padding-left: 7rem;
      width: 30rem;
      display: block; }
      .footer .email-box form .inputEmail::placeholder {
        text-align: right; }
      .footer .email-box form .inputEmail:focus {
        outline: none;
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.06); }
    .footer .email-box form .submitBtn {
      border: none;
      outline: none;
      background-color: var(--color-secondary);
      color: #fff;
      padding: 0.5rem 1.8rem;
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      cursor: pointer; }

.footer .content-box {
  text-align: center;
  background-image: radial-gradient(circle at 5% 80%, #f481ff 0, transparent 30rem), radial-gradient(circle at 70% 10%, #f481ff 0, transparent 14%), radial-gradient(circle at 85% 14%, #ffb451 0, transparent 18%), linear-gradient(to right, #b6b6b6, #bc2ec9);
  border-radius: 3rem;
  padding: 8rem 7rem 2rem 4rem;
  margin-top: -4rem; }
  .footer .content-box .grid-system {
    display: grid;
    grid-template-areas: "logos Helpful-links codejudge-links codejudge-logo" "social phones phones addresses" ". copyRight copyRight .";
    grid-gap: 2rem;
    text-align: right;
    grid-row-gap: 5rem; }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .grid-system {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "logos codejudge-logo codejudge-logo" "logos Helpful-links codejudge-links" " phones addresses addresses" ". social ." ". copyRight ."; } }
    @media only screen and (max-width: 28em) {
      .footer .content-box .grid-system {
        grid-template-areas: "logos  codejudge-logo" "logos codejudge-links" "phones  Helpful-links" "social  addresses" "copyRight copyRight"; } }
  .footer .content-box .logos {
    grid-area: logos; }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .logos {
        display: flex;
        flex-direction: column;
        margin-left: 4rem; } }
    @media only screen and (max-width: 28em) {
      .footer .content-box .logos {
        margin-left: 0; } }
    @media only screen and (max-width: 75em) {
      .footer .content-box .logos img {
        width: 30%; } }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .logos img {
        width: 8rem;
        margin-bottom: 3rem; } }
  .footer .content-box .Helpful-links {
    grid-area: Helpful-links; }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .Helpful-links {
        margin-right: 4rem; } }
    @media only screen and (max-width: 28em) {
      .footer .content-box .Helpful-links {
        margin-right: 1rem; } }
    .footer .content-box .Helpful-links__item {
      margin: 1rem 0;
      padding: 0.3rem; }
      .footer .content-box .Helpful-links__item.Header .Helpful-links__link {
        color: #000;
        font-weight: 600;
        font-size: 1.5rem;
        border-bottom: 1px solid #333;
        padding-left: 5rem;
        padding-bottom: 0.7rem; }
    .footer .content-box .Helpful-links__link {
      color: #444;
      font-weight: 600;
      font-size: 1.3rem; }
  .footer .content-box .codejudge-links {
    grid-area: codejudge-links; }
    .footer .content-box .codejudge-links__item {
      margin: 1rem 0;
      padding: 0.3rem; }
      .footer .content-box .codejudge-links__item.Header .codejudge-links__link {
        color: #000;
        font-weight: 600;
        font-size: 1.5rem;
        border-bottom: 1px solid #333;
        padding-left: 5rem;
        padding-bottom: 0.7rem; }
    .footer .content-box .codejudge-links__link {
      color: #444;
      font-weight: 600;
      font-size: 1.3rem; }
  .footer .content-box .codejudge-logo {
    grid-area: codejudge-logo;
    margin-bottom: 3rem; }
    .footer .content-box .codejudge-logo p:last-child {
      margin-top: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.5; }
      @media only screen and (max-width: 41.75em) {
        .footer .content-box .codejudge-logo p:last-child {
          font-size: 1.6rem; } }
  .footer .content-box .social {
    grid-area: social; }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .social {
        text-align: center; } }
    .footer .content-box .social p {
      font-size: 1.5rem;
      margin-bottom: 0.6rem; }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .social .logos {
        display: flex;
        flex-direction: row; } }
    .footer .content-box .social .logos img {
      width: 2rem;
      margin: 0.4rem; }
  .footer .content-box .phones {
    grid-area: phones;
    margin-right: 4rem; }
    @media only screen and (max-width: 41.75em) {
      .footer .content-box .phones {
        margin-left: 4rem; } }
    .footer .content-box .phones .title {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
      .footer .content-box .phones .title i {
        border-radius: 50%;
        padding: 0.5rem;
        background-color: #fff;
        color: #333;
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 1px;
        font-size: 1.2rem; }
    .footer .content-box .phones .phone {
      font-size: 1.7rem;
      color: #444; }
      .footer .content-box .phones .phone span {
        display: block; }
  .footer .content-box .addresses {
    grid-area: addresses; }
    .footer .content-box .addresses .title {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
      .footer .content-box .addresses .title i {
        border-radius: 50%;
        padding: 0.5rem;
        background-color: #fff;
        color: #333;
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 1px;
        font-size: 1.2rem; }
    .footer .content-box .addresses .address {
      font-size: 1.7rem;
      color: #444; }
  .footer .content-box .copyRight {
    grid-area: copyRight; }
    .footer .content-box .copyRight p {
      text-align: center;
      font-size: 1.4rem;
      color: #444; }

@media only screen and (max-width: 75em) {
  .header {
    width: 95%;
    margin: 0 auto; } }

.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .header .navigation {
      flex-direction: row-reverse;
      padding: 0 2rem 0 1rem; } }
  .header .navigation #toggler {
    display: none; }
  .header .navigation .toggle-nav__label {
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    display: none; }
    @media only screen and (max-width: 50em) {
      .header .navigation .toggle-nav__label {
        display: block; } }
    .header .navigation .toggle-nav__label .toggle-nav__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 4px;
      background-color: var(--color-primary);
      border-radius: 100px;
      vertical-align: center;
      margin-right: 6px; }
      .header .navigation .toggle-nav__label .toggle-nav__icon::before, .header .navigation .toggle-nav__label .toggle-nav__icon::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 4px;
        background-color: var(--color-primary);
        border-radius: 100px;
        left: 6px;
        transition: all 1s cubic-bezier(0.91, 0, 0.14, 1.35); }
      .header .navigation .toggle-nav__label .toggle-nav__icon::before {
        top: -10px; }
      .header .navigation .toggle-nav__label .toggle-nav__icon::after {
        top: 10px; }
  .header .navigation #toggler:checked ~ .toggle-menu {
    transform: translateY(0); }
  .header .navigation #toggler:checked ~ .toggle-nav__label .toggle-nav__icon {
    background-color: transparent; }
    .header .navigation #toggler:checked ~ .toggle-nav__label .toggle-nav__icon::before {
      top: 0px;
      transform: rotate(135deg); }
    .header .navigation #toggler:checked ~ .toggle-nav__label .toggle-nav__icon::after {
      transform: rotate(-135deg);
      top: 0px; }
  .header .navigation .toggle-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; }
    @media only screen and (max-width: 50em) {
      .header .navigation .toggle-menu {
        display: flex;
        position: absolute;
        top: 6.5rem;
        right: 0rem;
        flex-direction: column-reverse;
        background-color: #eee;
        z-index: 1;
        border-radius: 1rem;
        margin-top: -1rem;
        padding: 1rem 10rem;
        transform: translateY(-200%);
        transition: transform 0.4s cubic-bezier(0.91, 0, 0.14, 1.35); } }
    .header .navigation .toggle-menu .authentication .btn {
      font-size: 1.3rem;
      font-weight: 700;
      background-color: var(--color-secondary);
      padding: 0.8rem 1.3rem;
      color: #fff; }
      @media only screen and (max-width: 50em) {
        .header .navigation .toggle-menu .authentication .btn {
          margin-top: 1rem;
          padding: 1rem 1.8rem; } }
    .header .navigation .toggle-menu .menu {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
      @media only screen and (max-width: 50em) {
        .header .navigation .toggle-menu .menu {
          flex-direction: column; } }
      @media only screen and (max-width: 50em) {
        .header .navigation .toggle-menu .menu__item {
          margin: 0.6rem 0;
          padding: 0.7rem 3rem; } }
      .header .navigation .toggle-menu .menu__link {
        padding: 0 1.8rem;
        font-size: 1.4rem;
        position: relative;
        color: #000; }
        @media only screen and (max-width: 50em) {
          .header .navigation .toggle-menu .menu__link {
            font-size: 1.6rem;
            padding: 0 0.5rem;
            padding-bottom: 1rem; }
            .header .navigation .toggle-menu .menu__link::after {
              position: absolute;
              bottom: 0;
              left: 0;
              content: "";
              width: 100%;
              height: 2px;
              background-color: var(--color-secondary);
              transition: all 0.4s ease;
              transform-origin: right;
              transform: scale(0); }
            .header .navigation .toggle-menu .menu__link:hover::after {
              transform-origin: left;
              transform: scale(1); } }
  .header .navigation .logo {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .header .navigation .logo {
        width: 12rem; } }
    .header .navigation .logo img {
      width: 100%;
      height: 100%; }

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 5rem;
  background: radial-gradient(circle at 90% 20%, #ff57b4 0, transparent 20rem), radial-gradient(circle at 10% 85%, #ffc457 0, transparent 14rem), radial-gradient(circle at 25% 85%, #ff57b4 0, transparent 8rem), linear-gradient(to right, #b6b6b6, #bc2ec9);
  border-radius: 3.3rem;
  color: #fff;
  position: relative; }
  @media only screen and (max-width: 41.75em) {
    .header .content {
      flex-direction: column;
      text-align: center; } }
  .header .content__img img {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .header .content__img img {
        width: 80%; } }
  .header .content__text {
    flex-basis: 40%;
    text-align: right; }
    @media only screen and (max-width: 41.75em) {
      .header .content__text {
        text-align: center;
        padding: 0 4rem;
        margin-top: 4rem; } }
    .header .content__text h1 {
      font-size: 4rem; }
    .header .content__text h3 {
      font-size: 1.8rem;
      margin-bottom: 3rem; }
    .header .content__text .btn {
      font-size: 1.7rem;
      font-weight: 700;
      background-color: #fff;
      padding: 1rem 2rem;
      color: var(--color-primary); }

@media only screen and (max-width: 50em) {
  .navigation .toggle-nav {
    display: block;
    cursor: pointer; }
    .navigation .toggle-nav__icon {
      position: relative;
      width: 30px;
      height: 5px;
      background-color: var(--color-primary);
      border-radius: 3px;
      vertical-align: center; }
      .navigation .toggle-nav__icon::before, .navigation .toggle-nav__icon::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 5px;
        background-color: var(--color-primary);
        border-radius: 3px;
        left: 7px; }
      .navigation .toggle-nav__icon::before {
        top: -10px; }
      .navigation .toggle-nav__icon::after {
        top: 10px; }
    .navigation .toggle-nav #toggler {
      display: none; } }

.ourClient {
  text-align: center;
  margin: 10rem 0; }
  @media only screen and (max-width: 41.75em) {
    .ourClient {
      width: 90%;
      margin: 10rem auto; } }
  .ourClient .box {
    display: inline-block;
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 2.5rem 8rem;
    color: #fff;
    position: relative; }
    .ourClient .box::after {
      position: absolute;
      content: "";
      -webkit-mask-image: url("../img/customers1.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 110% -500%;
      -webkit-mask-size: 50% 90%;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: #99b3ff; }
    .ourClient .box::before {
      position: absolute;
      content: "";
      -webkit-mask-image: url("../img/bg-path1.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: -600% 40%;
      -webkit-mask-size: 90% 190%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #99b3ff; }
    .ourClient .box h2 {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .ourClient .box span {
      font-size: 1.9rem;
      display: block;
      line-height: 2; }
    .ourClient .box .btn {
      background-color: #fff;
      color: var(--color-primary);
      font-size: 2rem;
      font-weight: 700;
      padding: 0.5rem 3.5rem;
      margin-top: 2rem;
      z-index: 1; }

.steps .items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 4.5rem;
  position: relative; }
  @media only screen and (max-width: 41.75em) {
    .steps .items {
      flex-wrap: wrap;
      margin-top: 2rem; } }
  .steps .items .item {
    text-align: center;
    padding: 5rem 2rem 3rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 41.75em) {
      .steps .items .item {
        margin: 0 3.5rem; } }
    .steps .items .item:hover {
      background-color: var(--color-primary-light); }
    .steps .items .item .number {
      background-color: var(--color-secondary);
      display: inline;
      padding: 2rem 2.2rem;
      box-shadow: 0 0.4rem 1rem var(--color-secondary);
      border-radius: 0.5rem;
      color: #fff;
      font-size: 1.5rem; }
      .steps .items .item .number.benafsh {
        background-color: var(--color-primary);
        box-shadow: 0 0.4rem 1rem var(--color-primary); }
    .steps .items .item .text {
      font-size: 1.5rem;
      margin-top: 4rem; }
      .steps .items .item .text span {
        display: block; }
  .steps .items .arrow-left {
    position: absolute;
    top: 35%;
    left: 27%; }
    @media only screen and (max-width: 41.75em) {
      .steps .items .arrow-left {
        top: 56%;
        left: 17%; } }
    @media only screen and (max-width: 35.5em) {
      .steps .items .arrow-left {
        display: none; } }
    @media only screen and (max-width: 75em) {
      .steps .items .arrow-left img {
        width: 17rem; } }
    @media only screen and (max-width: 50em) {
      .steps .items .arrow-left img {
        width: 12rem; } }
    @media only screen and (max-width: 41.75em) {
      .steps .items .arrow-left img {
        width: 15rem;
        transform: rotate(45deg) scaleX(-1); } }
    @media only screen and (max-width: 35.5em) {
      .steps .items .arrow-left img {
        width: 10rem; } }
  .steps .items .arrow-right {
    position: absolute;
    bottom: 60%;
    right: 27%; }
    @media only screen and (max-width: 41.75em) {
      .steps .items .arrow-right {
        bottom: 75%;
        right: 40%; } }
    @media only screen and (max-width: 35.5em) {
      .steps .items .arrow-right {
        display: none; } }
    @media only screen and (max-width: 75em) {
      .steps .items .arrow-right img {
        width: 17rem; } }
    @media only screen and (max-width: 50em) {
      .steps .items .arrow-right img {
        width: 12rem; } }
    @media only screen and (max-width: 41.75em) {
      .steps .items .arrow-right img {
        width: 15rem;
        transform: rotate(-10deg); } }

.steps .timing {
  margin-top: 5rem;
  text-align: center; }
  @media only screen and (max-width: 41.75em) {
    .steps .timing {
      margin-top: 1rem; } }
  .steps .timing__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    border-radius: 1rem;
    background-color: var(--color-primary-light);
    padding: 0.5rem 1rem; }
    .steps .timing__box img {
      margin-left: 1rem; }
    .steps .timing__box p {
      font-size: 1.2rem;
      padding: 0 1rem; }

.whyUs {
  margin-top: 3rem; }
  .whyUs .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem; }
    @media only screen and (max-width: 50em) {
      .whyUs .content {
        margin-top: 2rem; } }
    @media only screen and (max-width: 41.75em) {
      .whyUs .content {
        flex-direction: column; } }
  .whyUs .left-list .items {
    text-align: right; }
    @media only screen and (max-width: 50em) {
      .whyUs .left-list .items {
        margin-right: -8rem; } }
    @media only screen and (max-width: 41.75em) {
      .whyUs .left-list .items {
        margin-right: 0; } }
    .whyUs .left-list .items .item {
      position: relative;
      padding-right: 2rem; }
      .whyUs .left-list .items .item::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1rem;
        height: 1rem;
        background-color: var(--color-secondary);
        transform: translateY(-50%);
        border-radius: 3px; }
      .whyUs .left-list .items .item:first-child::after {
        background-color: var(--color-primary); }
      .whyUs .left-list .items .item:last-child::after {
        background-color: var(--color-primary); }
  .whyUs .right-list .items {
    text-align: left; }
    @media only screen and (max-width: 41.75em) {
      .whyUs .right-list .items {
        text-align: right;
        margin-left: 0; } }
    @media only screen and (max-width: 50em) {
      .whyUs .right-list .items {
        margin-left: -8rem; } }
    .whyUs .right-list .items .item {
      padding-left: 2rem; }
      @media only screen and (max-width: 41.75em) {
        .whyUs .right-list .items .item {
          padding-right: 2rem; } }
      .whyUs .right-list .items .item::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 1rem;
        height: 1rem;
        background-color: var(--color-secondary);
        transform: translateY(-50%);
        border-radius: 3px; }
        @media only screen and (max-width: 41.75em) {
          .whyUs .right-list .items .item::before {
            right: 0 !important;
            left: auto; } }
      .whyUs .right-list .items .item:first-child::before {
        background-color: var(--color-primary); }
      .whyUs .right-list .items .item:last-child::before {
        background-color: var(--color-primary); }
  .whyUs ul li {
    position: relative;
    font-size: 2rem;
    line-height: 3;
    margin: 1rem 0; }
    @media only screen and (max-width: 50em) {
      .whyUs ul li {
        font-size: 1.5rem; } }
  .whyUs .center-image {
    padding: 0 3rem; }
    @media only screen and (max-width: 56.25em) {
      .whyUs .center-image {
        padding: 0 1rem;
        text-align: center; } }
    @media only screen and (max-width: 50em) {
      .whyUs .center-image {
        padding: 1rem; } }
    @media only screen and (max-width: 41.75em) {
      .whyUs .center-image {
        order: -1; } }
    .whyUs .center-image img {
      width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .whyUs .center-image img {
          width: 70%; } }
      @media only screen and (max-width: 50em) {
        .whyUs .center-image img {
          width: 60%; } }

.btn-hover {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 1rem;
  position: relative; }
  .btn-hover__red::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    transition: all 0.2s ease-in;
    border-radius: 1rem;
    background-color: rgba(255, 62, 62, 0.342); }
  .btn-hover__red:hover::before {
    width: 100%;
    height: 100%; }
  .btn-hover__white::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    transition: all 0.2s ease-in;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.342); }
  .btn-hover__white:hover::before {
    width: 100%;
    height: 100%; }
  .btn-hover__primary::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    transition: all 0.2s ease-in;
    border-radius: 1rem;
    background-color: var(--color-primary-light); }
  .btn-hover__primary:hover::before {
    width: 100%;
    height: 100%; }

.heading {
  text-align: center; }
  .heading span {
    color: var(--color-primary); }
  .heading h2 {
    font-size: 2rem;
    margin-top: 5rem;
    position: relative;
    display: inline-block; }
    .heading h2::before, .heading h2::after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color: var(--color-secondary);
      border-radius: 3px;
      box-shadow: 0 1px 0.7rem var(--color-secondary); }
    .heading h2::before {
      top: 0.3rem;
      right: -2rem; }
    .heading h2::after {
      bottom: 0.3rem;
      left: -2rem; }
