.steps {
  .items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 4.5rem;
    position: relative;

    .item {
      text-align: center;
      padding: 5rem 2rem 3rem;
      border-radius: 1rem;

      &:hover {
        background-color: var(--color-primary-light);
      }

      .number {
        background-color: var(--color-secondary);
        display: inline;
        padding: 2rem 2.2rem;
        box-shadow: 0 0.4rem 1rem var(--color-secondary);
        border-radius: 0.5rem;
        color: #fff;
        font-size: 1.5rem;

        &.benafsh {
          background-color: var(--color-primary);
          box-shadow: 0 0.4rem 1rem var(--color-primary);
        }
      }
      .text {
        font-size: 1.5rem;
        margin-top: 4rem;

        span {
          display: block;
        }
      }
    }

    .arrow-left {
      position: absolute;
      top: 35%;

      left: 27%;
    }
    .arrow-right {
      position: absolute;
      bottom: 60%;
      right: 27%;
    }
  }

  .timing {
    margin-top: 5rem;
    text-align: center;
    &__box {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      border-radius: 1rem;
      background-color: var(--color-primary-light);
      padding: 0.5rem 1rem;

      img {
        margin-left: 1rem;
      }
      p {
        font-size: 1.2rem;
        padding: 0 1rem;
      }
    }
  }
}
