.whyUs {
  margin-top: 3rem;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

    @media only screen and (max-width: $bp-mediumest) {
      margin-top: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  .left-list {
    .items {
      text-align: right;

      @media only screen and (max-width: $bp-mediumest) {
        margin-right: -8rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin-right: 0;
      }

      .item {
        position: relative;
        padding-right: 2rem;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 1rem;
          height: 1rem;
          background-color: var(--color-secondary);
          transform: translateY(-50%);
          border-radius: 3px;
        }

        &:first-child::after {
          background-color: var(--color-primary);
        }
        &:last-child::after {
          background-color: var(--color-primary);
        }
      }
    }
  }
  .right-list {
    .items {
      text-align: left;

      @media only screen and (max-width: $bp-small) {
        text-align: right;
        margin-left: 0;
      }

      @media only screen and (max-width: $bp-mediumest) {
        margin-left: -8rem;
      }

      .item {
        padding-left: 2rem;

        @media only screen and (max-width: $bp-small) {
          padding-right: 2rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 1rem;
          height: 1rem;
          background-color: var(--color-secondary);
          transform: translateY(-50%);
          border-radius: 3px;

          @media only screen and (max-width: $bp-small) {
            right: 0 !important;
            left: auto;
          }
        }

        &:first-child::before {
          background-color: var(--color-primary);
        }
        &:last-child::before {
          background-color: var(--color-primary);
        }
      }
    }
  }

  ul {
    li {
      position: relative;
      font-size: 2rem;
      line-height: 3;
      margin: 1rem 0;

      @media only screen and (max-width: $bp-mediumest) {
        font-size: 1.5rem;
      }
    }
  }

  .center-image {
    padding: 0 3rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0 1rem;
      text-align: center;
    }

    @media only screen and (max-width: $bp-mediumest) {
      padding: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      order: -1;
    }

    img {
      width: 100%;

      @media only screen and (max-width: $bp-medium) {
        width: 70%;
      }

      @media only screen and (max-width: $bp-mediumest) {
        width: 60%;
      }
    }
  }
}
